#navbar{

    background-color: rgb(70, 23, 143);
    color: white;
    padding: 15px;

}



.brand{
    font-family: 'Luckiest Guy','Secular One',sans-serif;

    font-size:35px;
    font-weight:500;
    color:white;
    
}



@media only screen and (max-width: 370px) {
    .brand{
        font-size:25px;
        font-weight:900;
        color:white;
        
    }
    
    
  }
